<!-- <td (click)="toggle.emit()" class="checkbox-cell">
    <i class="fa-square" [ngClass]="isSelected() ? 'fa-solid fa-square-check active' : 'fa-regular'"></i>
</td>
<td>{{ item().id }}</td>
<td>{{ item().title }}</td>
<td>{{ item().creationDate }}</td> -->


    <td>
        <i class="fa-regular fa-square"></i>
        <i class="fa-regular fa-pen-to-square"></i>
    </td>
    <td>{{ item().title}}</td>
    <td>{{ item().creationDate }}</td>
    <td><i class="fa-regular fa-trash-can"></i></td>
