.fa {
    &-regular {
        cursor: pointer;
    }

    &-trash-can {
        color: red;
    }

    &-square {
        margin-right: 8px;
        color: #e9e9eb;
    }

    &-pen-to-square {
        color: #1E90FF;
    }
}